{
  presets: [
    [
      '@babel/preset-env',
      {
        modules: false,
        targets: {
          browsers: [
            "firefox >= 57",
            "ie >= 11"
          ]
        }
      }
    ]
  ]
}